robotframework
robotframework-seleniumlibrary
robotframework-jsonlibrary
robotframework-requests
robotframework-databaselibrary
robotframework-jsonvalidator
selenium
webdriver-manager
locust
jsonschema
requests
pytest
python-dotenv
faker
robotframework-pabot
robotframework-tidy
robotframework-debuglibrary
pytest-html

